* {
	margin: 0;
	padding: 0;
}

html,
body,
.start-div {
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}

.loading {
	color: #fff;
}

.start-div {
	background-color: #000;
	position: absolute;
	z-index: 100;
}